<img src="{{ section.settings.image | img_url: "master" }}" alt="{{ section.settings.name }}"width="" height="">
<h1> {{ section.settings.header }}</h1>
<div> {{ section.settings.content }}</div>
{% schema %}
  {
      "name": "Text With Image",
    "settings": [
      {
      "type" : "text",
      "id" : "header",
      "label" : "Header"
      },
      {
        "type" : "image_picker",
        "id": "image",
        "label" : "Image"
      },
      {
        "type" : "richtext",
        "id" : "content",
        "label" : "Content"
      }
    ],
    "presets": [
      {
        "name" : "Text With Image"
      }
    ]  
  }
{% endschema %}